.incomeExpenses {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.incomeExpenses > div {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
}
.incomeExpenses > div:first-of-type {
  border-right: 1px solid #dedede;
}
/* .incomeExpenses > div > h4 {
  margin: 0;
  text-transform: uppercase;
} */
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
  /* color: red; */
}
.money.plus {
  color: #2ecc71;
}
.money.minus {
  color: #c0392b;
}
