.transactionList > h3 {
  border-bottom: 1px solid #bbb;
  color: blue;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list > li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  /* box-shadow: 0 8px 6px -6px black; */
  /* 5px 5px 5px rgba(68, 68, 68, 0.6); */
  /* 3px 3px 5px 6px rgb(8, 11, 12); */
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
.list li.minus {
  border-right: 5px solid #c0392b;
}
.list li.plus {
  border-right: 5px solid #2ecc71;
}
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.list > li:hover > .delete-btn {
  opacity: 1;
}
